@import "tailwindcss";

@theme {
	/* Fonts */
	--font-sans: "Inter", sans-serif;
	--font-serif: "Playfair Display", serif;

	/* Colors */
	--color-gray-50: oklch(0.985 0.001 106.423);
	--color-gray-100: oklch(0.97 0.001 106.424);
	--color-gray-200: oklch(0.923 0.003 48.717);
	--color-gray-300: oklch(0.869 0.005 56.366);
	--color-gray-400: oklch(0.709 0.01 56.259);
	--color-gray-500: oklch(0.553 0.013 58.071);
	--color-gray-600: oklch(0.444 0.011 73.639);
	--color-gray-700: oklch(0.374 0.01 67.558);
	--color-gray-800: oklch(0.268 0.007 34.298);
	--color-gray-900: oklch(0.216 0.006 56.043);
	--color-gray-950: oklch(0.147 0.004 49.25);

	--color-primary-blue: oklch(0.596 0.145 163.225); /* Neptune Wealth Primary */
	--color-bg-light: #F9F9F9;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
	
	.animate-spin-slow {
		animation: spin 8s linear infinite;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
